<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>https://dp365-my.sharepoint.com/:u:/g/personal/mail_derekpapworth_com/EX9ykCuGU8VBrIt39lnVIq4BYVjN5c5BDnc3_mkMYicJBw?e=GUgn8E</string>
</dict>
<dict>
<key>kind</key>
<string>display-image</string>
<key>needs-shine</key>
<true/>
<key>url</key>
<string>https://dp365-my.sharepoint.com/:i:/g/personal/mail_derekpapworth_com/EeFbu70Wvu1JsViI80iB-2gB8JkB3EYnPe165ldkdqnJbg?e=bL86xg</string>
</dict>
<dict>
<key>kind</key>
<string>full-size-image</string>
<key>needs-shine</key>
<true/>
<key>url</key>
<string>https://dp365-my.sharepoint.com/:i:/g/personal/mail_derekpapworth_com/EeFbu70Wvu1JsViI80iB-2gB8JkB3EYnPe165ldkdqnJbg?e=bL86xg</string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>com.uk.securitas.apphub2</string>
<key>bundle-version</key>
<string>1.0</string>
<key>kind</key>
<string>software</string>
<key>title</key>
<string>SIS App 2</string>
<key>subtitle</key>
<string>Test</string>
</dict>
</dict>
</array>
</dict>
</plist>